@page
@model VRBike.Pages.contactModel
@{

    ViewData["Title"] = "Verona Bike Contact";
}




@section metatags
    {
    <meta name="Description" content="contatti Il sito che raccoglie le piste ciclabili ufficiali di Verona dedicate al cicloturismo" />
    <meta name="Author" content="Verona Bike" />
}

<h3>email: info@verona.bike</h3>
<h3>phone (only sms): +39 3409120279</h3>

