@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


@section metatags
    {
    <meta name="Description" content="Il sito che raccoglie le piste ciclabili ufficiali di Verona dedicate al cicloturismo" />
    <meta name="Author" content="Verona Bike" />
}
<h1>@ViewData["Title"]</h1>

<p>GPS data will collect from your device</p>
